<f:inputText id="input-{{attribut}}"
             type="number"
             label="#{i18n['model.{{context}}.{{attribut}}']}"
             value="#{dto.{{attribut}}}">
    <f:converter id="eineConverterId" for="value"/>
</f:inputText>
<f:outputText id="output-{{attribut}}"
              label="#{i18n['model.{{context}}.{{attribut}}']}"
              value="#{dto.{{attribut}}}"/>